body{
    margin: 0;
    padding: 0;
}

h4{
    margin: 0;
}
#topbar{
    height: 50px;
    width: 100vw;
    background-color: rgb(65, 61, 61);
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
    box-sizing: border-box;
}

#hrtopbar{
    margin: 0;
    height: 2px;
    background-color: orangered;
    border: orangered solid;
}

#container{
    margin-left: 20vw;
    margin-right: 20vw;
    text-align: justify;
}

figure{
    margin: 0   ;
}
.logos{
    width: 25px;
    margin: 3px;
    box-sizing: border-box;
}

main{
    margin-left: 30vw;
    margin-right: 30vw;
}
#personagens{
    width: 670px;
}
footer{
    height: 150px;
    background-color: rgb(65, 61, 61);
}

#name{
    margin-bottom: 0px;
    font-size: 16px;
}
.cinza{
    color: gray;
    margin: 0;
    font-size: 15px;
 
}

p{
    text-align: justify;
    
}

a{
    color: rgb(235, 95, 44);
    text-decoration: none;   
}

a:visited{
    color: rgb(178, 6, 187);
    text-decoration: none;  
}

a:hover{
    color: brown;
}

a:active{
    color: blueviolet;
}
